In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

#ERROR: math module name is wrong in the print statement. 
#Coorect: print(math.sqrt(16))

In [1]:
#1.
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

#ERROR: x is defined outside the function

In [3]:
#2.

def my_function():
    x = 10
    x += 5
    print(x)


my_function()

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

#ERROR: == operator is missing, x = 10 means value 10 is assigning to x, 
#which is not usable in If

#CORRECT: if x == 10:

In [5]:
#3.
x = 5
if x == 10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

#ERROR: .sort() is a method. If we print, it returns None.

In [6]:
#4.

numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [ ]:
#5.

def square(n):
    ans = n * n
    print(ans)
square(4)

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

#ERROR: Tuples are immutable, we can't add, change or remove values. 
# CORRECT: We can change the tuple into a list, then modify and then tuple

In [1]:
#6.
my_tuple = (1, 2, 3)
numbers =list(my_tuple)
print(numbers)
numbers[1] = 5
print(numbers)
ans_tuple = tuple(numbers)
print(ans_tuple)

[1, 2, 3]
[1, 5, 3]
(1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

#ERROR: Only one variable is passed. Need age also
#CORRECT:print("My name is %s and I am %d years old" % (name, age))

In [2]:
#7.

name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

#ERROR: is is an identity operator, it checks for the memory value. 
#Here, a & b hold a different memory

In [4]:
#8.

a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")
else:
    print("Lists are not equal")

Lists are not equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

#ERROR: To print the range values from back to front, need to give step -1.
#CORRECT: for i in range(5, 1,-1):

In [5]:
#9.
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

#ERROR: name is a key but here it is like a variable

In [7]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John